/* Estilos generales */
body {
    font-family: sans-serif;
}

/* Estilos para el menú */
.menu {
    padding: 10px;
}

#imagenesMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#imagenesMenu img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: grab;
}

/* Estilos para el área de trabajo */
.workspace {
    height: 90vh;
    overflow: auto;
    padding: 10px;
    border: 2px dashed #ccc;
    position: relative; /* Necesario para que los elementos hijos puedan ser posicionados */
}

/* Estilos para los elementos interactivos */
.elemento-interactivo {
    position: absolute;
}

.texto-editable {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: text;
    user-select: none;
}

/* Responsividad */
@media (max-width: 600px) {
    #workspace {
        height: 80vh;
    }
}
